.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1em 7em;
    background-color: rgb(3, 3, 3);
    align-items: center;
    width: 100%;
    
}

.navbar__titulo__link{
    display: flex;
    align-items: center;
    gap: 0.5em;
    color: #9a9be6;
}

.navbar p{
    font-weight: 300;
    color: rgba(232, 232, 232, 0.635);
    font-weight: lighter;
    font-size: 1rem;
}

.navbar p .navbar__paragrafo-destaque{
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;
}
.navbar p .navbar__paragrafo-destaque:hover{

    color: #9a9be6;
    font-weight: bold;
    border-bottom: 1px solid #9a9be6;
}

.navbar__form{
    display: flex;
    align-items: center;
    gap: 0.2em;
}

.navbar__form__search{
    padding: 0.8em 2.5em;
    background-color: rgb(28, 28, 28);
    border: none;
    color: #9a9be6;
    border-radius: 4px;

}

.navbar__form__search:focus{
    outline: none;
}
.navbar__form__search-button{
    background-color: #9a9be6;
    border: none;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    padding: 0.3em 0.5em;    
    font-size: 1.3rem;
    border: 1px solid;
    border-color: transparent;

}

.navbar__form__search-button:hover{
    background-color: transparent;
    color: #9a9be6;
    border-color: #9a9be6;
}