.container{
    background-color: #EAEEFF;
    margin: 3.5em 4em 0 4em;
    border-radius: 30px 30px 0 0;
    overflow:hidden;
    border: 2px solid #7875FF;

}

.pesquisa{
    background-color: #0A0A0A;
    gap: 25px;
    width: 100%;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.pesquisa__titulo{
    font-size: 1.5rem;
}

.pesquisa__form{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pesquisa__search{
    width: 100%;
    background-color: transparent;
    padding: 0.7em 2em;
    color: white;
    border: 1px solid #7875FF;
    border-radius: 30px 0 0 30px;
    font-size: 1rem;
}
.pesquisa__search::placeholder{
    text-align: center;
    color: rgb(186, 186, 186);
}

.pesquisa__search-button{

    font-size: 1rem;
    text-align: center;
    background-color: #0E0E0E;
    padding: 1.2em 1.3em;
    border-radius: 0 30px 30px 0;
    border: 1px solid;
    border-color: #7875FF;
    color: white;
    background-image: url(/IMG/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 0.4s;
}

.pesquisa__search-button:hover{
    background-color: #7875FF;
}
.movies{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3em;
}

.container__titulo{
    margin: 1em 0;
    color: white;
    font-size: 2rem;
    text-align: left;
    background-color:#0f0f0f ;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100%;
}

.container__titulo .query-text{
    color: #9a9be6;
}
.container__movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;

} 

@media only screen and (max-width: 650px) {
    .container__movies {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
    }
    .container__titulo{
        text-align: center;
    }
    .pesquisa__form{
        width: 100%;
    }
    .container{
        margin: 3.5em 1.5em 0 1.5em;
    
    }
  }