.movie-card{
    width: 18%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5em;
    background-color: #202020;
    padding: 0.4em;
    border-radius: 20px;
    margin: 0 0.5em 2em 0.5em;
    transition: 0.2s;
}


.movie-card__imagem{
    border-radius: 20px;
    max-width: 100%;
}
.movie-card__titulo{
    color: #d7d7d7;
    font-size: 1.3rem;

}

.movie-card:hover{
    background-color: #353555;
}
.movie-card:hover .movie-card__titulo{
    color: white;
}


.movie-card p svg{
    color: #9a9be6;
}

.movie-card__botao{
    background-color: #ffffff;
    padding: 1em;
    width: 100%;
    text-align: center;
    border-radius: 20px;
    color: #181818;
    font-size: 0.8rem;
}